/**{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}*/
body{
    font-family: 'Poppins', sans-serif;
}
header{
    width: 95%;
    height: 110vh;
    /*border: 1px solid #000;*/
    margin: auto;
}
header nav{
    width: 95%;
    height: 7%;
    border: 1px solid #000;
    padding-top: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;

}
header nav ul{
    list-style: none;
    display: flex;

}
header nav ul li{
    padding: 3px 15px;
    
}
header nav ul li:nth-last-child(1){
    background: #000;
    border-radius: 20px;
    padding: 5px 20px;
}
header nav ul li:nth-last-child(1) a{
    color: #fff;
}
header nav ul li a{
    text-decoration: none;
    color: #121213;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s linear;
}
header nav ul li a:hover{
    color: #ff5a26;
}
header nav .fa-solid.fa-bars{
    display: none;

}
header ._content{
    position: relative;
    width: 100%;
    height: 93%;
    /*border: 1px solid #000;*/
}
header ._content::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    border: 1px solid #000;
    background: url('../img/background_2.jpg')no-repeat center center/cover;
    border-radius: 10px;
    z-index: -1;
}
header ._content ._cont{
    width: 500px;
    height: auto;
    color: #fff;
    padding: 30px;
} 
header ._content ._cont h1{
    line-height: 40px;
    font-weight: 800;
    /*border: 1px solid #000;*/
} 
header ._content ._cont p{
    font-size: 14px;
    font-weight: 400;
    color: rgb(241, 241, 241);
} 
header ._content ._cont button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #000;
    background: #000;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: 0.3s linear;
}
header ._content ._cont button:hover{
    background: rgb(113, 113, 113);
    border: 2px solid rgb(113, 113, 113);
}
header ._tripBox{
    position: relative;
    width: 95%;
    height: auto;
    margin: auto;
    /*border: 1px solid #000;*/
}
header ._tripBox ._searchBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 25px rgb(114, 114, 114);
    z-index: 1;
    padding: 9px 10px;
}
header ._tripBox ._searchBox ._card{
    width: 200px;
    height: 100%;
    /*border: 1px solid #000;*/
    
}  
header ._tripBox ._searchBox ._card h4 {
    font-size: 15px;
    margin: 0;
    font-weight: 700;
}
header ._tripBox ._searchBox ._card .fa-solid .fa-caret-down{
    position: absolute;
    font-size: 13px;
    margin: 2px 0px 0px 5px;
    transition: .3s linear;

}
header ._tripBox ._searchBox ._card input{
    margin-top: 3px;
    padding: 5px 0px;
    border: none;
    outline: none;
    font-size: 13px;
}
header ._tripBox ._searchBox input[type="button"]{
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s linear;
    cursor: pointer;
}
header ._tripBox ._searchBox input[type="button"]:hover{
    background-color: gray;
}
header ._tripBox ._travelBox{
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    top: 30px;
    /*background: #000;*/
    /*border: 1px solid #000;*/
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 20px 25px -10px rgb(165, 165, 165);
}
header ._tripBox ._travelBox::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgb(241, 241, 241, .7);
    backdrop-filter: blur(5px);
    z-index: -1;
}
header ._tripBox ._travelBox h4{
    margin: 0;
    padding: 40px 0px 15px 1.7%;
}
header ._tripBox ._travelBox ._cards{
    width: 96%;
    height: auto;
    margin: 0 auto;
    /*border: 1px solid #000;*/
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header ._tripBox ._travelBox ._cards .cardColumn{
    width: 220px;
    height: 180px;
    /*border: 1px solid #000;*/
}
header ._tripBox ._travelBox ._cards .cardColumn h3{
    margin: 0px 0px 10px 0px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
header ._tripBox ._travelBox ._cards .cardColumn h3 img{
    width: 20px;
    height: 20px;
    margin-left: 5px;

}
header ._tripBox ._travelBox ._cards .cardColumn img{
    width: 100%;
    height: 50%;

}
header ._tripBox ._travelBox ._cards .cardColumn ._btn_City{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: 1px solid #000*/
}
header ._tripBox ._travelBox ._cards .cardColumn ._btn_City a{
    text-decoration: none;
    background: #000;
    color: #fff;
    border-radius: 20px;
    padding: 6px 20px;
    font-size: 11px;
    transition: .3s linear;

}
header ._tripBox ._travelBox ._cards .cardColumn ._btn_City a:hover{
    background: gray;
}
header ._tripBox ._travelBox ._cards .cardColumn ._btn_City h5{
    font-size: 11px;
    font-weight: 500;
    margin: 0;
    margin-top: 5px;
    line-height: 15px;
}
header ._tripBox ._travelBox ._cards .cardColumn ._btn_City h5 span{
    font-size: 13px;
    font-weight: 700;
}



/*This css for _offers section */

._offers{
    width: 60%;
    height: auto;
    /*border: 1px solid #000;*/
    margin: auto;
    margin-top: 10px;
}
._offers h1{
    font-weight: 600;
    text-align: center;
    margin: 0;

}
._offers p{
    font-weight: 500;
    text-align: center;
    margin: 0;

}
._offers ._cards{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: 1px solid #000;*/
    flex-wrap: wrap;
}
._offers ._cards ._cardsColumn{
    position: relative;
    width: 200px;
    height: 350px;
    /*border: 1px solid #000;*/
    margin: 10px;
}
._offers ._cards ._cardsColumn h3{
    width: 140px;
    padding: 6px 0px;
    background-color: rgb(165, 243, 165);
    border-radius: 20px;
    font-size: 12px;
    display: grid;
    place-items: center;
    margin: auto;
}
._offers ._cards ._cardsColumn ._imgText{
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 5px;
}
._offers ._cards ._cardsColumn ._imgText img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
._offers ._cards ._cardsColumn ._imgText h4{
    position: absolute;
    font-size: 9px;
    padding: 10px 15px;
    bottom: 0;
    margin: 0;
    color: #fff;
    z-index: 2;
}
._offers ._cards ._cardsColumn ._imgText h4::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255, .1);
    backdrop-filter: blur(5px);
    z-index: -1;
    bottom: 0;
    left: 0;
}
._offers ._cards ._cardsColumn ._contBox{
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(214, 214, 214);
    padding: 5px 0px;
    border-radius: 0px 0px 5px 5px;
}
._offers ._cards ._cardsColumn ._contBox ._price , ._Days{
    margin: 0px 8px;

}
._offers ._cards ._cardsColumn ._contBox ._price ._heart_chat{
    display: flex;
    align-items: center;
}
._offers ._cards ._cardsColumn ._contBox ._price ._heart_chat i:nth-child(1){
    color: red;
    font-size: 13px;
    margin-right: 10px;
}
._offers ._cards ._cardsColumn ._contBox ._price ._heart_chat i span{
    color: #000;
    font-size: 12px;
    margin-left: 3px;
    font-style: normal;
}
._offers ._cards ._cardsColumn ._contBox ._price ._heart_chat i:nth-child(2){
    color: rgb(112, 196,229);
    font-size: 13px;
    margin-right: 10px;
}
._offers ._cards ._cardsColumn ._contBox ._price ._priceDetails{
    display: flex;
    align-items: center;
    margin-top: 3px;
}
._offers ._cards ._cardsColumn ._contBox ._price ._priceDetails a{
    text-decoration: none;
    color: #000;
    font-size: 11px;
    font-weight: 700;
    transition: .3s linear;
    margin-right: 13px;

}
._offers ._cards ._cardsColumn ._contBox ._price ._priceDetails a:hover{
    color: gray;
}
._offers ._cards ._cardsColumn ._contBox ._price ._priceDetails h4{
    margin: 0;
    font-size: 13px;

}
._offers ._cards ._cardsColumn ._contBox ._Days{
    color: #fff;
    background: #000;
    font-size: 8px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s linear;
}
._offers ._cards ._cardsColumn ._contBox ._Days:hover{
    transform: rotate(360deg);
}




/*       This is the begining of gallery codes css      */
.gallery{
    margin-top: 100px;
}

.gallery h3{
    font-size: 3rem;
    padding-bottom: 10px;
    font-weight: bolder;
    border-bottom: 3px solid #222;
    padding-bottom: 10px;
    text-align: center;
    justify-content: center;
    
}
.gallery h3 span{
    font-weight: 100;
    color:#ff5a26;
}
._imgGallery{
    width: 90%;
    margin: 70px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    
}
.gallery ._imgGallery img{
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
}
.gallery ._imgGallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px #ff5a26;
}
.gallery .full_Img{
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.gallery .full_Img img{
    width: 90%;
    max-width: 800px;
}
.gallery .full_Img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.gallery a{
    color: #fff;
    margin-left: 50%;
    background: #ff5a26;
    padding: 10px 30px 10px;
    border-radius: 20px;
    text-decoration: none;
}